body {
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s;
}
.colorContainer {
    border-radius: 10px;
    display: grid;
    place-items: center;
    width: 200px;
    height: 50px;
    background: grey;
    color: white;
}